/**
 *
 * Global reset for all elements
 * @author Edy Segura - edy@segura.pro.br
 *
 */
 
* {
	margin: 0px;
	padding: 0px;
}

p {
	font:12px Verdana,Geneva,Arial,Helvetica,sans-serif;
}
