/* CSS Document
Autor: Edy Segura - edy@segura.pro.br, edy@segura.pro.br
Descrição: CSS da página principal
*/

a:visited {
	color:orange;
}

a.texto {
	text-decoration:none;
	color:#000;
	cursor:default;
}