/**
 *
 * Formatacao para pagina index.html
 * @author Edy Segura, edy@segura.pro.br
 *
 */

* {
	font-family: Verdana;
}

div#ringviewer-content {
	position: relative;
	width: 600px;
	height: 400px;
}

canvas {
	/*border: 1px solid #000;*/
}

div.ring {
	position: absolute;
	width: 100px;
	height: 91px;
}

div#ring-name {
	position: absolute;
	top: 190px;
	left: 230px;
	font-weight: bold;
	font-size: 16px;
}

div.ring .linktop,
div.ring .linkbottom {
	color: red;
	font-size: 11px;
}

div.ring .linktop a,
div.ring .linkbottom a {
	position: relative;
	padding: 2px;
	margin: 1px;
	display:block;
	color: red;
	text-decoration: none;
	height: 14px;
}

div.ring .linktop a:hover,
div.ring .linkbottom a:hover {
	margin: 0;
	border: 1px solid #2F38A8;
	background: #E7EAFB;
}

div.ring .linktop a span,
div.ring .linkbottom a span {
	position: absolute;
	top: 18px;
	right: -1px;
	width: 66px;
	height: 80px;
	background: #E7EAFB;
	display: none;
	text-align: left;
	color: #000;
	padding: 2px;
	border: 1px solid #2F38A8;
	border-top: none;
	z-index: 0;
}

div.ring .linktop a:hover span,
div.ring .linkbottom a:hover span {
	display: block;
	z-index: 10;
}

div.ring .linkbottom a:hover span {
	left: -1px;
}

div.ring  .ring-content {
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	background: #FFE4CA;
	border: 3px solid #F77921;
}

div.ring .linkbottom {
	text-align: right;
}

div.ring  .ring-destaque {
	background: #FFC;
	border: 3px solid #2853FF;
}

div#ring-1 {
	top: 50px;
	left: 130px;
}

div#ring-2 {
	top: 250px;
	left: 110px;
}

div#ring-3 {
	top: 160px;
	right: 100px;
}