/** 
 *
 * Estilos para index.html
 * @author: Edy Segura - edy@segura.pro.br
 * 
 */

img {
	margin:5px;
}

div#image-container {
	width: 300px;
	height: 250px;
	overflow: auto;
	background: #eee;
}