/* 
 * CSS Document
 *
 * Scrollbar no Firefox
 * @author: Edy Segura - edy@liveware.com.br, edy@segura.eti.br
 *
 * Referencias
 * http://www.revolucao.etc.br/archives/scrollbar-no-firefox/
 * http://developer.mozilla.org/en/docs/CSS_Reference:Mozilla_Extensions
 *  
 */

html {
	overflow: -moz-scrollbars-vertical;
}

a.externo {
	padding-right: 12px;
	background: url(../imagens/external.png) no-repeat right center;
}
