<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Exemplo de uma página desenvolvida com HTML 5</title>

<link rel="stylesheet" href="css/style.css" type="text/css" />

<!--[if IE]>
	<script type="text/javascript">
			document.createElement("article");
			document.createElement("nav");
			document.createElement("section");
			document.createElement("header");
			document.createElement("aside");
			document.createElement("figure");
			document.createElement("legend");
			document.createElement("footer");
	</script>
<![endif] -->

</head>
<body>

<header>
	<h1>Minha primeira página utilizando HTML 5</h1>
</header>
<nav>
	<ul>
		<li><a href="http://www.pinceladasdaweb.com.br/blog/" title="Pinceladas da Web" rel="me">Pinceladas da Web</a></li>
		<li><a href="http://www.cssnolanche.com.br" title="CSS no Lanche" rel="alternate">CSS no Lanche</a></li>
	</ul>
</nav>
<div id="content">
	<article>Estou utilizando aqui a TAG &lt;article&gt;</article>
	<article>
		<figure>
			<img src="html5.jpg" alt="HTML 5" title="HTML 5" />
			<legend>Para inserir a imagem utilizei a TAG &lt;figure&gt; juntamente com a TAG &lt;legend&gt;</legend>
		</figure>
	 </article>
	 <article>Estou utilizando aqui a TAG &lt;article&gt;</article>
 </div>
<footer>
	&copy; CSS no Lanche
</footer>

</body>
</html>