/**
 * 
 * Redefine propriedades dos elementos (X)HTML para que fiquem iguais em todos os navegadores
 * @author: Edy Segura - edy@segura.pro.br
 *
 * http://leftjustified.net/journal/2004/10/19/global-ws-reset
 * http://www.revolucao.etc.br/archives/as-dicas-de-css-que-voce-nao-deve-deixar-de-saber/
 *
 */


* {
	margin:0; 
	padding:0;
}


h1, h2, h3, h4, h5, h6,
p, pre, blockquote, form,
label, ul, ol, dl,
fieldset, address {
	margin:10px 0;
}

li, dd, blockquote {
	margin-left: 30px;
}

fieldset { padding:10px; }
