/**
 * 
 * Definicoes para pagina index.html
 * @author: Edy Segura - edy@segura.pro.br
 * 
 */

@import url(reset-ultimate.css);

h1 {
	background: #EDEEE8;
	color: #000;
	text-align: center;
	border-bottom: 1px solid #6C8059;
	padding: 5px;
	font-size: 2em;
}

h2, p { 
	margin: 10px 0 0 3px;
}
