/* 
 * stylesheets.css
 *
 * Definicoes para pagina index.html
 * @author: Edy Segura - edy@segura.pro.br
 *
 */

fieldset * {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

fieldset#lnkexterno a {
	color:#00F;
	background:url(../imagens/external.gif) no-repeat right bottom;
	padding-right:12px;
}
