/* CSS Document
Autor: Edy Segura - edy@segura.pro.br, edy@segura.pro.br
Descrição: Definições da página inicial
*/

p.notify {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	width:350px;
	padding:2px;
	background:#FFC;
	border:1px solid #F90;
	text-align:justify;
}

div#timer {
	background-color:#AED6F9;
	color:#000;
	border:1px solid #004B97;
	width:150px;
}

div#timer * {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

div#timer h3 {
	font-weight:bold;
	background:#004B97;
	color:#fff;
	border-bottom:1px solid #fff;
	text-align:center;
	padding:2px;
}

div#timer p {
	padding:2px;
	text-align:center;
}

div#timer p,
div#timer span {
	font-size:14px;
	font-weight:bold;
}

div#timer span {
	color:#F00;
}

div#botoes {
	margin-top:10px;
}

div#botoes button {
	width:80px;
	background:#004B97;
	color:#fff;
	border:1px solid #006;
}
